<% layout("layouts/boilerplate") %>
<h1 class="mb-4"><%= decoration.title %></h1>

<div class="row">

<div class="col-md-6">

<img 
src="<%= decoration.image %>" 
class="img-fluid rounded shadow"
style="height:400px; object-fit:cover;"
>

</div>

<div class="col-md-6">

<h4 class="text-muted mb-3">
Price: ₹ <%= decoration.price %>
</h4>

<p class="mb-4">
<%= decoration.description %>
</p>

<% if(admin){ %>

<a href="/decorations/<%= decoration._id %>/edit" class="btn btn-warning">
Edit
</a>

<form action="/decorations/<%= decoration._id %>?_method=DELETE" method="POST" style="display:inline">
<button class="btn btn-danger">
Delete
</button>
</form>

<% } %>

<br><br>

<a href="/decorations" class="btn btn-secondary">
Back to Decorations
</a>

</div>

</div>